mixin music(name, id, author, img)
    .musicContainer
        .thumbnail.musicBox
            img(src="/image/" + img alt=name)
            .caption.alCenter
                h3= name
                p= author
                button.btn.btn-default.btn-play(type="button" onclick="javascript:playMusic('" + id + "')") Play Now!

.container-fluid#musicList
    #musicWrapper
        each song in music
            +music(song.name, song.id, song.author, song.img)