mixin but(number)
    .btnPlayer
        button.btn(type="button" onclick="javascript:setNumOfPlayers("+ number +")")= number

.centerbox
    p#playerText Hoeveel spelers zijn er?
    .playerSelect
        +but(1)
        +but(2)
        +but(3)