.left
	float left

.right
	float right

.center
	margin-left auto
	margin-right auto
	display block

.alCenter
	text-align center

.alLeft
	text-align left

.alRight
	text-align right

trans(n)
	-webkit-transition n
	transition n

boxShadow(n)
	-webkit-box-shadow n
	box-shadow n

transform(n)
	-webkit-transform n
	transform n

.yAlign
	transform(translateY(-50%))
	top 50%
	position relative
	display block

boxShadow(n)
	webkit-box-shadow n
	box-shadow n