extends document.jade

block scripts
    include ../scripts.jade
block styles
    include ../styles.jade

block title
    title Floor Fest

block body
    #header
        block header
    #content
        block contents